* {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

body{
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body h1{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 4px 5px rgb(6, 173, 239);
    justify-self: center;
}
.pages {
  width: 100%;
  height: auto;
  border: 10px solid transparent;
  border-radius: 16px; /* Adjust radius as desired */
  background-image:
    linear-gradient(rgb(113, 125, 167)),
    linear-gradient(45deg, #ff0000, #0000ff); /* Replace with your desired border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  font-size: large;
  font-weight: bold;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.pages a{
    text-decoration: none;
    font-size: 2rem;
    color: greenyellow;
    text-shadow: 3px 3px 4px red;
    animation: glowText 1.5s ease-in-out infinite alternate;
}

@keyframes glowText {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #ff007f, 0 0 15px #ff007f;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff007f, 0 0 30px #ff007f, 0 0 40px #ff007f;
  }
}

table {
  width: 100%;
  padding: 1rem;
  border: 10px solid transparent;
  border-radius: 16px; /* Adjust radius as desired */
  background-image:
    linear-gradient(rgb(179, 183, 176)),
    linear-gradient(45deg, #ff0000, #0000ff, green, yellow); /* Replace with your desired border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  font-size: large;
  font-weight: bold;
}

th,
td {
   border: 2px solid yellowgreen;
  border-radius: 0.5rem;
  padding: 8px;
  text-align: center;
  overflow: hidden;
}

th {
  background-color: #285123;
  color: white;
  
 
}
